<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152622669930-ujierfgv4r4upsri98q1gojh9dr27t6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152622669930-ujierfgv4r4upsri98q1gojh9dr27t6u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152622669930-jvfj2c4mc50jo42s61nr6l1cp130o64t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7f5PInr_H8INnFNJNkNHMj5JpBaEu6pY</string>
	<key>GCM_SENDER_ID</key>
	<string>152622669930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-4b561</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-4b561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152622669930:ios:db761022e9511dc26aea13</string>
</dict>
</plist>